<div class="wrapper gameboard" id="gameboardWrapper" ng-style="{'background-color': bgColor}">

	<div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
			<symbol id="ripply-scott" viewBox="0 0 100 100">
				<g>
					<path d="M45.6,0.8l37.1,21.4c1.8,1,2.8,2.9,2.8,4.9V70c0,2-1.1,3.9-2.8,4.9L45.6,96.3c-1.8,1-3.9,1-5.7,0L2.8,74.9C1.1,73.9,0,72,0,70l0-42.9c0-2,1.1-3.9,2.8-4.9L40,0.8C41.7-0.3,43.9-0.3,45.6,0.8z"/>
					<path fill="rgba(255,255,255,0.35)" d="M45.6,22.4L64,33c1.8,1,2.8,2.9,2.8,4.9v21.2c0,2-1.1,3.9-2.8,4.9L45.6,74.7c-1.8,1-3.9,1-5.7,0L21.6,64.1c-1.8-1-2.8-2.9-2.8-4.9V37.9c0-2,1.1-3.9,2.8-4.9L40,22.4C41.7,21.4,43.9,21.4,45.6,22.4z"/>
					<path fill="rgba(255,255,255,0.25)" d="M45.6,41.7l1.7,1c1.8,1,2.8,2.9,2.8,4.9v2c0,2-1.1,3.9-2.8,4.9l-1.7,1c-1.8,1-3.9,1-5.7,0l-1.7-1c-1.8-1-2.8-2.9-2.8-4.9v-2c0-2,1.1-3.9,2.8-4.9l1.7-1C41.7,40.7,43.9,40.7,45.6,41.7z"/>
				</g>
			</symbol>
		</svg>
	</div>

	<div id="ripple-content" class="ripple-content">
		<svg class="ripple-obj">
			<use width="4" height="4" xlink:href="#ripply-scott" class="js-ripple" style="opacity:0"></use>
		</svg>
	</div>

	<div class="block block-flex light" id="block-0" ng-click="selectOpt(0, $event)">
	{{vm.level.color}}
		<p> {{vm.currentQuestion[0].text}}</p>
		<div class="timer" id="preloader"></div>
	</div>

	<div class="block block-flex" id="block-1" ng-click="selectOpt(1, $event)">
		<p>{{vm.currentQuestion[1].text}}</p>
	</div>

</div>