<div class="wrapper">

	<div class="block block-flex light" ng-click="vm.startGame()">
		<p>Play</p>
	</div>

	<div class="block flex-block">

		<ion-slides options="levelsSliderOptionsa" slider="slider" class="levels-slider">
			<ion-slide-page ng-repeat="level in vm.levels" class="level-slide" test="arg">
				<div class="progress ng-cloak">
					<div ng-if="level.status == 'unlocked'">
						<h2> {{level.name}} </h2>
						<p> {{level.currentScore}}/{{level.maxScore}} </p>
					</div>
					<div ng-if="level.status == 'locked'" style="margin-top:-25px">
						<i class="ion-android-lock"></i>
					</div>
				</div>
				<div
					round-progress
					max="level.maxScore"
					current="level.currentScore"
					color="#81D4FA"
					bgcolor="#FFF"
					stroke="10"
					duration="800"
					animation="easeInOutQuart">
				</div>
			</ion-slide-page>
		</ion-slides>
	</div>

</div>