<div class="wrapper">

	<div class="block block-flex light" ng-click="startGame()">
		<p>Play</p>
	</div>

	<div class="block flex-block">

		<ion-slides options="levelsSliderOptionsa" slider="slider" class="levels-slider">
			<ion-slide-page ng-repeat="level in levels" class="level-slide" test="arg">
				<div class="progress ng-cloak">
					<h2> {{level.name}} </h2>
					<p> {{level.currentScore}}/{{level.maxScore}} </p>
				</div>
				<div
					round-progress
					max="100"
					current="levelProgress"
					color="#98db39"
					bgcolor="#eaeaea"
					stroke="15"
					semi="false"
					rounded="false"
					clockwise="true"
					responsive="false"
					duration="800"
					animation="easeInOutQuart">
				</div>
			</ion-slide-page>
		</ion-slides>
	</div>

</div>